<section class="home-wrapper">
    <section class="suggested-container">
        <section class="suggested-box"></section>
        <section class="suggested-box"></section>
    </section>
    <section class="options-cont">
        <section class="option-box" ng-click="orders_library()"><p>ספריית הזמנות</p></section>
        <section class="option-box" ng-click="last_orders()"><p>הזמנות אחרונות</p></section>
        <section class="option-box" ng-click="make_new_order()"><p>הזמנה חדשה</p></section>
    </section>
</section>