<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <title>Ordering System</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="includes/css/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="includes/css/stylesheets/flaticon.css">
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js" data-semver="1.0.7"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--<script type='application/javascript' src='includes/javascript/ftlabs-fastclick-a22efe3/lib/fastclick.js'></script>-->
    <script src="https://rawgit.com/nnnick/Chart.js/master/Chart.min.js"></script>
    <script src="includes/javascript/app.js"></script>
    <script src="includes/javascript/services.js"></script>
    <script src="includes/javascript/header.js"></script>
    <script src="includes/javascript/home.js"></script>
    <script src="includes/javascript/last-orders.js"></script>
    <script src="includes/javascript/orders-library.js"></script>
    <script src="includes/javascript/library.js"></script>
    <script src="includes/javascript/forms.js"></script>
    <script src="includes/javascript/menu.js"></script>
    <script src="includes/javascript/cart.js"></script>
    <script src="includes/javascript/order-approve.js"></script>
    <script src="includes/javascript/status.js"></script>
    <script src="includes/javascript/javascript.js"></script>
</head>
<body>
<section class="wrapper">
    <section id="screen-message" class="screen-message"><section class="container"><p></p></section></section>
    <section id="customer-type" class="lightbox" forms>
        <section class="container">
            <section class="close" id="close-type"><p class="flaticon-close32"></p></section>
            <section class="type-cont" ng-click="customer_type('private')"><p>לקוח פרטי</p></section>
            <section class="type-cont" ng-click="customer_type('business')"><p>לקוח עסקי</p></section>
        </section>
    </section>
    <section id="lightbox" class="lightbox" forms>
        <section class="container">
            <section class="close" id="close"><p class="flaticon-close32"></p></section>
            <section class="title"><p>{{ title }}</p></section>
            <section class="content">
                <form class="form" id="sign-up-form" ng-repeat="form_item in form_items">
                    <section class="form-item" id="{{ form_item.id }}">
                        <section class="required"><p>{{ form_item.required }}</p></section>
                        <section class="detail-label"><p>{{ form_item.label }}</p></section>
                        <section class="detail-input"><input type="{{ form_item.type }}" value="{{ form_item.value }}" maxlength="{{ form_item.max_length }}"></section>
                        <section class="validation"><p></p></section>
                    </section>
                </form>
                <section class="indirect">לא רשום? <p ng-click="form_request('sign-up')">הרשם עכשיו</p></section>
                <section class="approve" ng-click="form_approved()"><p>אישור</p></section>
            </section>
        </section>
    </section>
    <section class="mobile-menu-container" id="menu-slide" forms>
        <section class="connected"><p class="flaticon-network60"></p><p>{{ signed_up }}</p></section>
        <section class="slide-item" ng-click="form_request('log-in')"><p class="flaticon-login"></p><p>התחבר</p></section>
        <div class="hr"></div>
        <section class="slide-item" ng-click="form_request('log-out')"><p class="flaticon-symbol21"></p><p>התנתק</p></section>
        <div class="hr"></div>
        <section class="slide-item" ng-click="form_request('sign-up')"><p class="flaticon-add89"></p><p>הרשם</p></section>
        <div class="hr"></div>
        <section class="slide-item" ng-click="form_request('update-details')"><p class="flaticon-edit45" id="edit-icon"></p><p>עדכון פרטים אישיים</p></section>
        <div class="hr"></div>
    </section>
    <header ng-controller="header">
        <section class="top-header">
            <section class="logo"></section>
            <section class="hamburger">
                <section class="container" ng-click="slideMenu()">
                    <i class="flaticon-menu45"></i>
                </section>
            </section>
            <section class="title"><p>{{ title }}</p></section>
        </section>
        <section class="bottom-header">
            <nav>
                <ul>
                    <li id="main"><a href="#/home" ng-click="setTitle('ראשי')"><i class="flaticon-building120"></i></a></li>
                    <li id="menu"><a href="#/menu-types" ng-click="setTitle('תפריט')"><i class="flaticon-list19"></i></a></li>
                    <li id="cart"><a href="#/cart" ng-click="setTitle('הסל שלי')"><i class="flaticon-shoppingcart14"><section class="cart-size"><p></p></section></i></a></li>
                    <li id="status"><a href="#/status" ng-click="setTitle('סטטוס הזמנה')"><i class="flaticon-hourglass"></i></a></li>
                    <li id="about">אודות</li>
                </ul>
            </nav>
        </section>
    </header>
    <div ng-view style="width: 100%; height: 85%;" forms></div>
</section>
</body>
</html>