.cart-wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  .items-container{
    @include size(100%,335px);
    overflow: auto;
  }
  .cart-item-container{
    @include size(97%, 40px);
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: silver;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 8px -2px #000;
    .title{
      width: 160px;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      p{
        padding-right: 5px;
        text-shadow: -2px 1px $bg-color;
        color: $txt-color;
        font-size: 22px;
      }
    }
  }
  .info{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    p{
      text-shadow: -2px 1px $bg-color;
    }
  }
  .delete-item{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    p{
      text-shadow: -2px 1px $bg-color;
    }
  }
  .item-total-price{
    @include size(70px, 100%);
    display: table;
    float: left;
    p{
      @include cell-settings();
      text-shadow: -2px 1px $bg-color;
      color: $txt-color;
      font-size: 22px;
    }
  }
  #item-info{
    height: 270px;
    overflow: auto;
  }
//  .component{
//    width: 90%;
//    margin: 15px auto;
//    padding: 5px;
//    padding-top: 10px;
//    padding-bottom: 10px;
//    position: relative;
//    border: solid 1px #002E02;
//  }
//  .comp-title{
//    position: absolute;
//    top: -12px;
//    background-color: #FFF;
//    padding-right: 2px;
//    padding-left: 2px;
//    p{
//      color: #002E02;
//      font-size: 18px;
//      font-style: italic;
//      font-weight: bold;
//    }
//  }
//  .comp-info{
//    font-size: 14px;
//    color: #002E02;
//    display: inline-block;
//    padding-right: 5px;
//  }
//  .item-info-footer{
//    @include size(100px,30px);
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    display: table;
//    p{
//      @include cell-settings();
//      color: #002E02;
//      font-weight: bold;
//      text-shadow: -2px 1px $bg-color;
//    }
//  }
  .cart-footer{
    background-color: silver;
    @include size(100%,65px);
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 8px -2px #000;
    section{
      float: right;
      margin-right: 5px;
    }
  }
  .order-type-btn,
  .order-time-btn,
  .payment-method-btn{
    @include size(70px,100%);
    box-shadow: 0px 0px 1px 0px #000;
    display: table;
    text-align: center;
    p.text{
      font-size: 12px;
      font-weight: bold;
    }
  }
  .cart-approve-cont{
    @include size(85px,100%);
  }
  .tot-price{
    @include size(90%, 50%);
    display: table;
    p{
      @include cell-settings();
      text-shadow: -2px 1px $bg-color;
      color: $txt-color;
      font-size: 22px;
    }
  }
}
.selection-cont{
  @include size(85%, 85px);
  margin: 10px auto;
  box-shadow: 0px 0px 1px 0px #000;
  .icon-cont,
  .type-cont{
    @include size(50%, 100%);
    display: table;
    float: right;
    p{
      @include cell-settings();
      color: $txt-color;
      font-size: 18px;
    }
  }
}
.time-cont{
  width: 160px;
  margin: 40px auto;
  font-weight: bold;
  font-size: 20px;
  color: $txt-color;
  select{
    width: 70px;
    height: 30px;
    font-size: 20px;
  }
}
#cart-approve{
  width: 90%;
  margin: 2px auto;
  margin-right: 5px;
}
#del-cont{
  height: 200px;
}
#item-delete{
  height: 120px;
  display: table;
  margin: 0 auto;
  width: 80%;
  float: none;
  p{
    @include cell-settings();
    color: $txt-color;
    font-size: 18px;
    font-weight: bold;
  }
}

.component{
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border: solid 1px #002E02;
}
.comp-title{
  position: absolute;
  top: -12px;
  background-color: #FFF;
  padding-right: 2px;
  padding-left: 2px;
  p{
    color: #002E02;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }
}
.comp-info{
  font-size: 14px;
  color: #002E02;
  display: inline-block;
  padding-right: 5px;
}
.item-info-footer{
  @include size(100px,30px);
  position: absolute;
  bottom: 0;
  left: 0;
  display: table;
  p{
    @include cell-settings();
    color: #002E02;
    font-weight: bold;
    text-shadow: -2px 1px $bg-color;
  }
}