header{
  @include size(100%, 15%);
  .top-header{
    @include size(100%, 48%);
  }
  .bottom-header{
    @include size(100%, 52%);
    background-color: $bg-color;
    box-shadow: 0 0 1px 1px rgba(#333, 0.9);
  }
  ////////// top header
  .logo{
    float: right;
    @include size(150px, 100%);
    @include background-image('http://localhost:3000/images/mobile_logo.png');
  }
  .title{
    float: left;
    display: table;
    @include size(120px, 100%);
    p{
      @include cell-settings();
      text-shadow: -2px 1px $bg-color;
      color: $txt-color;
      font-weight: bold;
      font-style: italic;
      font-size: 18px;
    }
  }
  .hamburger{
    float: left;
    @include size(50px, 100%);
  }
  .container{
    @include size(80%, 90%);
    margin: 0 auto;
    overflow: hidden;
    &.rotate-right{
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
    &.rotate-left{
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    &.rotate-right, &.rotate-left{
      -webkit-transition-property: -webkit-transform;
      transition-property: transform;
      -webkit-transition-duration: .40s;
      transition-duration: .40s;
    }
  }
  ////////// bottom header
  nav{
    @include size(100%, 100%);
  }
  ul{
    @include size(100%, 100%);
    display: table;
  }
  li{
    @include size(20%, 100%);
    @include cell-settings();
    color: $txt-color;
  }
  a{
    display: block;
    text-decoration: none;
    color: #002E02;
    @include size(100%, 100%);
    position: relative;
  }
}

// Smartphone vertical
@include small_portrait(){
  header{
    .logo{

    }
  }
}

@include small_landscape(){
   header{
     background-color: green;
   }
 }

@include medium_portrait(){
  header{
    background-color: blue;
  }
}

.cart-size{
  display: none;
  @include size(15px,15px);
  position: absolute;
  top: 3px;
  left: 8px;
  border-radius: 100px;
  border: solid 1px ghostwhite;
  background-color: #FFA500;
  box-shadow: 0px 0px 8px -2px #000;
  p{
    line-height: 16px;
    padding-right: 2px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #002E02;
  }
}