.lightbox {
  display: none;
  @include position(fixed, 0, 0);
  @include size(100%, 100%);
  background-color: rgba(#fff, 0.8);
  z-index: 10000;
  .container{
    @include size(250px, 340px);
    background-color: #FFF;
    margin: 0 auto;
    box-shadow: 0px 0px 8px -2px #000;
    border: 1px solid #B6B6B6;
    margin-top: 20%;
    position: relative;
  }
  .close{
    @include size(28px, 30px);
    display: table;
    float: right;
    p{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .title{
    float: right;
    display: table;
    @include size(220px, 33px);
    p{
      @include cell-settings();
      text-shadow: -2px 1px $bg-color;
      color: $txt-color;
      font-weight: bold;
      font-style: italic;
      font-size: 18px;
    }
  }
  .content{
    @include size(100%, 307px);
    float: right;
//    .approve {
//      @include size(70px, 25px);
//      background-color: green;
//      margin: 10px auto;
//      box-shadow: 0px 0px 8px -2px #000;
//      display: table;
//      p{
//        @include cell-settings();
//        color: #FFF;
//      }
//    }
  }
  .form{
    width: 90%;
    margin: 0 auto;
    .form-item{
      @include size(100%, 28px);
      section{
        float: right;
        display: table;
      }
    }
    .required{
      @include size(4%, 100%);
      p{
        @include cell-settings();
      }
    }
    .detail-label{
      @include size(32%, 100%);
      p{
        font-size: 14px;
        display: table-cell;
        vertical-align: middle;
      }
    }
    .detail-input{
      @include size(56%, 100%);
      input, textarea{
        @include size(97%, 90%);
        margin-top: 2px;
      }
    }
    .validation{
      @include size(8%, 100%);
      p{
        font-size: 14px;
        @include cell-settings();
      }
    }
  }
  .indirect{
    display: none;
  }
}

.approve {
  @include size(70px, 25px);
  background-color: green;
  margin: 10px auto;
  box-shadow: 0px 0px 8px -2px #000;
  display: table;
  p{
    @include cell-settings();
    color: #FFF;
  }
}





















