<section class="menu-items-wrapper">
    <section class="food-items-container">
        <a href="#" ng-repeat="menu_item in menu_items">
            <section class="container">
                <section class="right-cont"></section>
                <section class="center-cont">
                    <section class="title"><p>{{ menu_item.name }}</p></section>
                    <section class="description"><p>{{ menu_item.description }}</p></section>
                </section>
                <section class="left-cont">
                    <section class="price"><p>{{ menu_item.price }} &#8362;</p></section>
                </section>
            </section>
        </a>
    </section>
</section>