<section class="menu-additions-wrapper">
    <section class="additions-type-container" ng-repeat="type in additions">
        <section class="title"><p>{{ type.name }}</p></section>
        <section class="container" ng-repeat="item in type.addition_items">
            <section class="header">
                <section class="top">
                    <section class="item-title"></section>
                    <section class="price"></section>
                </section>
                <section class="bottom"></section>
            </section>
            <section class="image"></section>
        </section>
    </section>
</section>