/* line 1, ../sass/_structure.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: Arial;
  direction: rtl;
}

/* line 8, ../sass/_structure.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/_structure.scss */
.wrapper {
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/_home.scss */
.home-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
/* line 4, ../sass/_home.scss */
.home-wrapper .suggested-container {
  width: 97%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
}
/* line 9, ../sass/_home.scss */
.home-wrapper .suggested-box {
  width: 40%;
  height: 90%;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-top: 15px;
  box-shadow: 0px 0px 1px 0px #000;
}
/* line 17, ../sass/_home.scss */
.home-wrapper .options-cont {
  width: 97%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
}
/* line 22, ../sass/_home.scss */
.home-wrapper .option-box {
  width: 27%;
  height: 70%;
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  margin-top: 25px;
  box-shadow: 0px 0px 1px 0px #000;
}

/* line 1, ../sass/_last-orders.scss */
.last-orders-wrapper {
  width: 100%;
  overflow: hidden;
}
/* line 4, ../sass/_last-orders.scss */
.last-orders-wrapper .order-container {
  width: 90%;
  margin: 10px auto;
  padding: 10px 5px;
  background-color: grey;
  box-shadow: 0px 0px 1px 0px #000;
}
/* line 11, ../sass/_last-orders.scss */
.last-orders-wrapper .cart-item {
  width: 100%;
  height: 40px;
  margin-bottom: 1px;
  background-color: silver;
}
/* line 16, ../sass/_last-orders.scss */
.last-orders-wrapper .title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 70%;
  height: 100%;
}
/* line 22, ../sass/_last-orders.scss */
.last-orders-wrapper .title p {
  line-height: 40px;
  padding-right: 5px;
  text-shadow: -2px 1px #97A778;
  color: #002E02;
  font-size: 22px;
}
/* line 30, ../sass/_last-orders.scss */
.last-orders-wrapper .info {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 25%;
  height: 100%;
}
/* line 36, ../sass/_last-orders.scss */
.last-orders-wrapper .info p {
  line-height: 40px;
  text-shadow: -2px 1px #97A778;
  font-size: 22px;
  text-align: left;
}
/* line 43, ../sass/_last-orders.scss */
.last-orders-wrapper .labels-cont {
  margin-top: 10px;
  width: 100%;
  height: 48px;
}
/* line 47, ../sass/_last-orders.scss */
.last-orders-wrapper .add-to-cart {
  width: 42px;
  height: 42px;
  border: solid 3px #333;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
}
/* line 53, ../sass/_last-orders.scss */
.last-orders-wrapper .add-to-cart p {
  line-height: 42px;
  padding-right: 7px;
  padding-top: 1px;
  font-size: 30px;
}
/* line 60, ../sass/_last-orders.scss */
.last-orders-wrapper .order-date {
  width: 100px;
  height: 42px;
  border: solid 3px #333;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}
/* line 66, ../sass/_last-orders.scss */
.last-orders-wrapper .order-date p {
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #333;
}
/* line 73, ../sass/_last-orders.scss */
.last-orders-wrapper .order-time {
  width: 100px;
  height: 42px;
  border: solid 3px #333;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}
/* line 79, ../sass/_last-orders.scss */
.last-orders-wrapper .order-time p {
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #333;
}

/* line 1, ../sass/_orders-library.scss */
.orders-library-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgba(151, 167, 120, 0.2);
}
/* line 13, ../sass/_orders-library.scss */
.orders-library-wrapper .library-cont {
  display: inline-block;
  width: 155px;
  margin-top: 5px;
  height: 130px;
  line-height: 130px;
  text-shadow: -1px -1px 5px #222;
  position: relative;
}
/* line 22, ../sass/_orders-library.scss */
.orders-library-wrapper .name-cont {
  height: 35px;
  width: 87%;
  margin: 0 auto;
  background: rgba(51, 51, 51, 0.2);
  position: absolute;
  bottom: 13px;
  right: 10px;
  line-height: 35px;
}
/* line 31, ../sass/_orders-library.scss */
.orders-library-wrapper .name-cont p {
  font-size: 16px;
  position: relative;
  font-weight: bold;
  vertical-align: middle;
  color: rgba(51, 51, 51, 0.9);
  text-shadow: none;
}
/* line 40, ../sass/_orders-library.scss */
.orders-library-wrapper .adjust {
  height: 120px;
  line-height: 120px;
}
/* line 44, ../sass/_orders-library.scss */
.orders-library-wrapper .options-cont {
  width: 131px;
  height: 43px;
  position: absolute;
  top: 35px;
  right: 12px;
  display: table;
}
/* line 52, ../sass/_orders-library.scss */
.orders-library-wrapper .creation-date {
  width: 47px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  top: 13px;
  right: 12px;
}
/* line 59, ../sass/_orders-library.scss */
.orders-library-wrapper .creation-date p {
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-shadow: none;
}
/* line 67, ../sass/_orders-library.scss */
.orders-library-wrapper .option {
  display: table-cell;
  border-radius: 100px;
  line-height: 43px;
  background: rgba(51, 51, 51, 0.2);
}
/* line 72, ../sass/_orders-library.scss */
.orders-library-wrapper .option p {
  vertical-align: middle;
  text-align: center;
  text-shadow: none;
  font-size: 22px;
}

/* line 1, ../sass/_library.scss */
.library-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: rgba(151, 167, 120, 0.2);
}
/* line 6, ../sass/_library.scss */
.library-wrapper .folder-header {
  width: 50%;
  height: 8%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 5px solid rgba(51, 51, 51, 0.9);
  border-bottom: 0;
  background-color: #C3C6BE;
  top: 5px;
  right: 5px;
  z-index: 50;
  margin-right: 3px;
  margin-top: 5px;
  display: table;
}
/* line 19, ../sass/_library.scss */
.library-wrapper .folder-header p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
}
/* line 25, ../sass/_library.scss */
.library-wrapper .folder-wrapper {
  width: 95%;
  height: 87%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 5px solid rgba(51, 51, 51, 0.9);
  right: 5px;
  box-shadow: 0px 0px 8px -2px green;
  background: rgba(51, 51, 51, 0.2);
  margin: 0 auto;
}
/* line 36, ../sass/_library.scss */
.library-wrapper .details-cont {
  width: 100%;
  height: 15%;
  background: rgba(0, 0, 0, 0.3);
  display: table;
}
/* line 41, ../sass/_library.scss */
.library-wrapper .description-cont {
  width: 70%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 48, ../sass/_library.scss */
.library-wrapper .date-cont {
  width: 30%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 51, ../sass/_library.scss */
.library-wrapper .date-cont p {
  line-height: 26px;
  font-size: 20px;
}
/* line 56, ../sass/_library.scss */
.library-wrapper .creation-date {
  width: 100%;
  height: 50%;
}
/* line 59, ../sass/_library.scss */
.library-wrapper .creation-time {
  width: 100%;
  height: 50%;
}
/* line 62, ../sass/_library.scss */
.library-wrapper .add-to-library {
  width: 90%;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #000;
  display: table;
}
/* line 69, ../sass/_library.scss */
.library-wrapper .add-to-library p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: #333;
}
/* line 75, ../sass/_library.scss */
.library-wrapper .library-item {
  width: 90%;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px #000;
  display: table;
}
/* line 82, ../sass/_library.scss */
.library-wrapper .library-item section {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 85, ../sass/_library.scss */
.library-wrapper .library-item p {
  font-size: 15px;
  color: #333;
}
/* line 90, ../sass/_library.scss */
.library-wrapper .name-cont {
  width: 45%;
}
/* line 92, ../sass/_library.scss */
.library-wrapper .name-cont p {
  font-size: 15px;
  font-weight: bold;
}
/* line 97, ../sass/_library.scss */
.library-wrapper .add-to-cart-cont {
  width: 10%;
}
/* line 100, ../sass/_library.scss */
.library-wrapper .info-cont {
  width: 10%;
}
/* line 103, ../sass/_library.scss */
.library-wrapper .delete-cont {
  width: 10%;
}
/* line 106, ../sass/_library.scss */
.library-wrapper .price-cont {
  width: 15%;
}
/* line 109, ../sass/_library.scss */
.library-wrapper .add-to-cart-cont p,
.library-wrapper .info-cont p,
.library-wrapper .delete-cont p {
  font-size: 22px;
}

/* line 1, ../sass/_header.scss */
header {
  width: 100%;
  height: 15%;
}
/* line 3, ../sass/_header.scss */
header .top-header {
  width: 100%;
  height: 48%;
}
/* line 6, ../sass/_header.scss */
header .bottom-header {
  width: 100%;
  height: 52%;
  background-color: #97A778;
}
/* line 11, ../sass/_header.scss */
header .logo {
  float: right;
  width: 150px;
  height: 100%;
  background: url("http://www.best-biss.com/images/mobile_logo.png") no-repeat;
  background-size: contain;
  background-position: center center;
}
/* line 16, ../sass/_header.scss */
header .title {
  float: left;
  display: table;
  width: 120px;
  height: 100%;
}
/* line 20, ../sass/_header.scss */
header .title p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: -2px 1px #97A778;
  color: #002E02;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
/* line 29, ../sass/_header.scss */
header .hamburger {
  float: left;
  width: 50px;
  height: 100%;
}
/* line 33, ../sass/_header.scss */
header .container {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 37, ../sass/_header.scss */
header .container.rotate-right {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
/* line 41, ../sass/_header.scss */
header .container.rotate-left {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
/* line 45, ../sass/_header.scss */
header .container.rotate-right, header .container.rotate-left {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: .40s;
  transition-duration: .40s;
}
/* line 53, ../sass/_header.scss */
header nav {
  width: 100%;
  height: 100%;
}
/* line 56, ../sass/_header.scss */
header ul {
  width: 100%;
  height: 100%;
  display: table;
}
/* line 60, ../sass/_header.scss */
header li {
  width: 20%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #002E02;
}
/* line 65, ../sass/_header.scss */
header a {
  display: block;
  text-decoration: none;
  color: #002E02;
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (min-width: 415px) and (max-width: 736px) {
  /* line 84, ../sass/_header.scss */
  header {
    background-color: green;
  }
}
@media only screen and (min-width: 737px) and (max-width: 1024px) {
  /* line 90, ../sass/_header.scss */
  header {
    background-color: blue;
  }
}
/* line 95, ../sass/_header.scss */
.cart-size {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 8px;
  border-radius: 100px;
  border: solid 1px ghostwhite;
  background-color: #FFA500;
  box-shadow: 0px 0px 8px -2px #000;
}
/* line 105, ../sass/_header.scss */
.cart-size p {
  line-height: 16px;
  padding-right: 2px;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #002E02;
}

/* line 1, ../sass/_slider.scss */
.mobile-menu-container {
  display: block;
  position: fixed;
  top: 7.5%;
  left: -75%;
  width: 75%;
  height: 92.5%;
  background: #97a778;
  box-shadow: inset -2px 0 2px rgba(0, 46, 2, 0.35);
  transition: transform .40s ease-in-out;
  -webkit-transition: -webkit-transform .40s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  z-index: 1000;
}
/* line 14, ../sass/_slider.scss */
.mobile-menu-container .connected {
  width: 100%;
  height: 8%;
  background-color: #002E02;
  box-shadow: 0 2px 40px -5px #FFF;
  display: table;
}
/* line 19, ../sass/_slider.scss */
.mobile-menu-container .connected p {
  display: table-cell;
  vertical-align: middle;
  color: silver;
}
/* line 24, ../sass/_slider.scss */
.mobile-menu-container .connected p:nth-of-type(1) {
  width: 50px;
  padding-right: 13px;
}
/* line 28, ../sass/_slider.scss */
.mobile-menu-container .connected p:nth-of-type(2) {
  font-size: 15px;
  font-weight: bold;
}
/* line 34, ../sass/_slider.scss */
.mobile-menu-container .slide-item {
  width: 90%;
  height: 8%;
  display: table;
  margin: 0 auto;
}
/* line 38, ../sass/_slider.scss */
.mobile-menu-container .slide-item p {
  display: table-cell;
  vertical-align: middle;
}
/* line 42, ../sass/_slider.scss */
.mobile-menu-container .slide-item p:nth-of-type(1) {
  width: 50px;
}
/* line 47, ../sass/_slider.scss */
.mobile-menu-container .hr {
  border: 0;
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background: #002E02;
  background-image: -webkit-linear-gradient(left, #002E02, #002E02, #002E02);
  background-image: -moz-linear-gradient(left, #002E02, #002E02, #002E02);
  background-image: -ms-linear-gradient(left, #002E02, #002E02, #002E02);
  background-image: -o-linear-gradient(left, #002E02, #002E02, #002E02);
}

/* line 61, ../sass/_slider.scss */
.right {
  transform: translate3d(100%, 0, 0);
  /* X, Y, Z */
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 1, ../sass/_lightbox.scss */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10000;
}
/* line 7, ../sass/_lightbox.scss */
.lightbox .container {
  width: 250px;
  height: 340px;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0px 0px 8px -2px #000;
  border: 1px solid #B6B6B6;
  margin-top: 20%;
  position: relative;
}
/* line 16, ../sass/_lightbox.scss */
.lightbox .close {
  width: 28px;
  height: 30px;
  display: table;
  float: right;
}
/* line 20, ../sass/_lightbox.scss */
.lightbox .close p {
  display: table-cell;
  vertical-align: middle;
}
/* line 25, ../sass/_lightbox.scss */
.lightbox .title {
  float: right;
  display: table;
  width: 220px;
  height: 33px;
}
/* line 29, ../sass/_lightbox.scss */
.lightbox .title p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: -2px 1px #97A778;
  color: #002E02;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}
/* line 38, ../sass/_lightbox.scss */
.lightbox .content {
  width: 100%;
  height: 307px;
  float: right;
}
/* line 53, ../sass/_lightbox.scss */
.lightbox .form {
  width: 90%;
  margin: 0 auto;
}
/* line 56, ../sass/_lightbox.scss */
.lightbox .form .form-item {
  width: 100%;
  height: 28px;
}
/* line 58, ../sass/_lightbox.scss */
.lightbox .form .form-item section {
  float: right;
  display: table;
}
/* line 63, ../sass/_lightbox.scss */
.lightbox .form .required {
  width: 4%;
  height: 100%;
}
/* line 65, ../sass/_lightbox.scss */
.lightbox .form .required p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 69, ../sass/_lightbox.scss */
.lightbox .form .detail-label {
  width: 32%;
  height: 100%;
}
/* line 71, ../sass/_lightbox.scss */
.lightbox .form .detail-label p {
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
}
/* line 77, ../sass/_lightbox.scss */
.lightbox .form .detail-input {
  width: 56%;
  height: 100%;
}
/* line 79, ../sass/_lightbox.scss */
.lightbox .form .detail-input input, .lightbox .form .detail-input textarea {
  width: 97%;
  height: 90%;
  margin-top: 2px;
}
/* line 84, ../sass/_lightbox.scss */
.lightbox .form .validation {
  width: 8%;
  height: 100%;
}
/* line 86, ../sass/_lightbox.scss */
.lightbox .form .validation p {
  font-size: 14px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 92, ../sass/_lightbox.scss */
.lightbox .indirect {
  display: none;
}

/* line 97, ../sass/_lightbox.scss */
.approve {
  width: 70px;
  height: 25px;
  background-color: green;
  margin: 10px auto;
  box-shadow: 0px 0px 8px -2px #000;
  display: table;
}
/* line 103, ../sass/_lightbox.scss */
.approve p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
}

/* line 1, ../sass/_screen-message.scss */
.screen-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10001;
}
/* line 7, ../sass/_screen-message.scss */
.screen-message .container {
  display: table;
  overflow: hidden;
  width: 200px;
  background-color: #FFFF66;
  margin: 0 auto;
  box-shadow: 0px 0px 8px -2px #000;
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 50%;
}
/* line 17, ../sass/_screen-message.scss */
.screen-message .container p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #000;
  font-size: 15px;
}

/* line 1, ../sass/_menu-types.scss */
.menu-types-wrapper {
  width: 100%;
  min-height: 100%;
}
/* line 5, ../sass/_menu-types.scss */
.menu-types-wrapper .food-types-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
/* line 12, ../sass/_menu-types.scss */
.menu-types-wrapper .container {
  width: 48%;
  height: 150px;
  box-shadow: 0px 0px 8px -2px green;
  border: solid 1px green;
  border-radius: 5px;
  display: inline-block;
  margin: 0 2px;
  overflow: hidden;
}
/* line 20, ../sass/_menu-types.scss */
.menu-types-wrapper .container p {
  text-align: center;
  text-shadow: -1px 1px #97A778;
  color: #002E02;
  font-size: 16px;
}

/* line 1, ../sass/_menu-items.scss */
.menu-items-wrapper {
  width: 100%;
  min-height: 100%;
}
/* line 5, ../sass/_menu-items.scss */
.menu-items-wrapper .food-items-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 11, ../sass/_menu-items.scss */
.menu-items-wrapper .container {
  width: 99%;
  height: 100px;
  display: table;
  overflow: hidden;
  margin: 2px auto;
  box-shadow: 0px 0px 5px -2px green;
  border: solid 1px green;
}
/* line 18, ../sass/_menu-items.scss */
.menu-items-wrapper .container:nth-of-type(1) {
  margin-top: 0;
}
/* line 22, ../sass/_menu-items.scss */
.menu-items-wrapper .right-cont {
  display: table-cell;
  width: 30%;
  height: 100%;
}
/* line 26, ../sass/_menu-items.scss */
.menu-items-wrapper .center-cont {
  display: table-cell;
  width: 55%;
  height: 100%;
}
/* line 31, ../sass/_menu-items.scss */
.menu-items-wrapper .left-cont {
  display: table-cell;
  width: 15%;
  height: 100%;
}
/* line 35, ../sass/_menu-items.scss */
.menu-items-wrapper p {
  display: table-cell;
  vertical-align: middle;
  color: #002E02;
  padding-right: 5px;
}
/* line 41, ../sass/_menu-items.scss */
.menu-items-wrapper .title {
  width: 100%;
  height: 25%;
  display: table;
}
/* line 44, ../sass/_menu-items.scss */
.menu-items-wrapper .title p {
  font-size: 15px;
  font-weight: bold;
}
/* line 49, ../sass/_menu-items.scss */
.menu-items-wrapper .description {
  width: 100%;
  height: 75%;
  display: table;
}
/* line 52, ../sass/_menu-items.scss */
.menu-items-wrapper .description p {
  font-size: 13px;
}
/* line 56, ../sass/_menu-items.scss */
.menu-items-wrapper .price {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 59, ../sass/_menu-items.scss */
.menu-items-wrapper .price p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  color: brown;
}

/* line 1, ../sass/_menu-additions.scss */
.menu-additions-wrapper {
  width: 100%;
  min-height: 100%;
}
/* line 4, ../sass/_menu-additions.scss */
.menu-additions-wrapper .additions-type-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
/* line 11, ../sass/_menu-additions.scss */
.menu-additions-wrapper .title {
  width: 100%;
  height: 30px;
  background-color: #97A778;
  margin-bottom: 2px;
  display: table;
}
/* line 16, ../sass/_menu-additions.scss */
.menu-additions-wrapper .title p {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  color: #002E02;
  font-weight: bold;
  padding-right: 5px;
}
/* line 25, ../sass/_menu-additions.scss */
.menu-additions-wrapper .container {
  width: 32%;
  height: 150px;
  box-shadow: 0px 0px 8px -2px green;
  border: solid 1px green;
  border-radius: 5px;
  display: inline-block;
  margin: 0 1px;
  margin-top: 10px;
  overflow: hidden;
}
/* line 35, ../sass/_menu-additions.scss */
.menu-additions-wrapper .header {
  width: 100%;
  height: 40%;
}
/* line 38, ../sass/_menu-additions.scss */
.menu-additions-wrapper .image {
  width: 100%;
  height: 60%;
}
/* line 41, ../sass/_menu-additions.scss */
.menu-additions-wrapper .top {
  width: 100%;
  height: 40%;
  background-color: #E0E0E0;
}
/* line 45, ../sass/_menu-additions.scss */
.menu-additions-wrapper .description {
  width: 100%;
  height: 60%;
  display: table;
}
/* line 48, ../sass/_menu-additions.scss */
.menu-additions-wrapper .description p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  padding-right: 2px;
  padding-left: 2px;
}
/* line 55, ../sass/_menu-additions.scss */
.menu-additions-wrapper .item-title {
  width: 70%;
  height: 100%;
  float: right;
  display: table;
}
/* line 59, ../sass/_menu-additions.scss */
.menu-additions-wrapper .item-title p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
  padding-right: 2px;
  padding-left: 2px;
}
/* line 67, ../sass/_menu-additions.scss */
.menu-additions-wrapper .price {
  width: 30%;
  height: 100%;
  float: right;
  display: table;
}
/* line 71, ../sass/_menu-additions.scss */
.menu-additions-wrapper .price p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
  color: brown;
}
/* line 78, ../sass/_menu-additions.scss */
.menu-additions-wrapper .selected {
  display: none;
  width: 28px;
  height: 29px;
  float: left;
}
/* line 82, ../sass/_menu-additions.scss */
.menu-additions-wrapper .selected p {
  text-align: left;
  font-size: 25px;
}
/* line 87, ../sass/_menu-additions.scss */
.menu-additions-wrapper .approve-menu {
  width: 70px;
  height: 25px;
  background-color: green;
  margin: 10px auto;
  box-shadow: 0px 0px 8px -2px #000;
  display: table;
}
/* line 93, ../sass/_menu-additions.scss */
.menu-additions-wrapper .approve-menu p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
}

/* line 1, ../sass/_cart.scss */
.cart-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
/* line 5, ../sass/_cart.scss */
.cart-wrapper .items-container {
  width: 100%;
  height: 335px;
  overflow: auto;
}
/* line 9, ../sass/_cart.scss */
.cart-wrapper .cart-item-container {
  width: 97%;
  height: 40px;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: silver;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 8px -2px #000;
}
/* line 18, ../sass/_cart.scss */
.cart-wrapper .cart-item-container .title {
  width: 160px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* line 23, ../sass/_cart.scss */
.cart-wrapper .cart-item-container .title p {
  padding-right: 5px;
  text-shadow: -2px 1px #97A778;
  color: #002E02;
  font-size: 22px;
}
/* line 31, ../sass/_cart.scss */
.cart-wrapper .info {
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
}
/* line 35, ../sass/_cart.scss */
.cart-wrapper .info p {
  text-shadow: -2px 1px #97A778;
}
/* line 39, ../sass/_cart.scss */
.cart-wrapper .delete-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
}
/* line 43, ../sass/_cart.scss */
.cart-wrapper .delete-item p {
  text-shadow: -2px 1px #97A778;
}
/* line 47, ../sass/_cart.scss */
.cart-wrapper .item-total-price {
  width: 70px;
  height: 100%;
  display: table;
  float: left;
}
/* line 51, ../sass/_cart.scss */
.cart-wrapper .item-total-price p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: -2px 1px #97A778;
  color: #002E02;
  font-size: 22px;
}
/* line 58, ../sass/_cart.scss */
.cart-wrapper #item-info {
  height: 270px;
  overflow: auto;
}
/* line 103, ../sass/_cart.scss */
.cart-wrapper .cart-footer {
  background-color: silver;
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 0px 8px -2px #000;
}
/* line 109, ../sass/_cart.scss */
.cart-wrapper .cart-footer section {
  float: right;
  margin-right: 5px;
}
/* line 114, ../sass/_cart.scss */
.cart-wrapper .order-type-btn,
.cart-wrapper .order-time-btn,
.cart-wrapper .payment-method-btn {
  width: 70px;
  height: 100%;
  box-shadow: 0px 0px 1px 0px #000;
  display: table;
  text-align: center;
}
/* line 121, ../sass/_cart.scss */
.cart-wrapper .order-type-btn p.text,
.cart-wrapper .order-time-btn p.text,
.cart-wrapper .payment-method-btn p.text {
  font-size: 12px;
  font-weight: bold;
}
/* line 126, ../sass/_cart.scss */
.cart-wrapper .cart-approve-cont {
  width: 85px;
  height: 100%;
}
/* line 129, ../sass/_cart.scss */
.cart-wrapper .tot-price {
  width: 90%;
  height: 50%;
  display: table;
}
/* line 132, ../sass/_cart.scss */
.cart-wrapper .tot-price p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: -2px 1px #97A778;
  color: #002E02;
  font-size: 22px;
}

/* line 140, ../sass/_cart.scss */
.selection-cont {
  width: 85%;
  height: 85px;
  margin: 10px auto;
  box-shadow: 0px 0px 1px 0px #000;
}
/* line 144, ../sass/_cart.scss */
.selection-cont .icon-cont,
.selection-cont .type-cont {
  width: 50%;
  height: 100%;
  display: table;
  float: right;
}
/* line 149, ../sass/_cart.scss */
.selection-cont .icon-cont p,
.selection-cont .type-cont p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #002E02;
  font-size: 18px;
}

/* line 156, ../sass/_cart.scss */
.time-cont {
  width: 160px;
  margin: 40px auto;
  font-weight: bold;
  font-size: 20px;
  color: #002E02;
}
/* line 162, ../sass/_cart.scss */
.time-cont select {
  width: 70px;
  height: 30px;
  font-size: 20px;
}

/* line 168, ../sass/_cart.scss */
#cart-approve {
  width: 90%;
  margin: 2px auto;
  margin-right: 5px;
}

/* line 173, ../sass/_cart.scss */
#del-cont {
  height: 200px;
}

/* line 176, ../sass/_cart.scss */
#item-delete {
  height: 120px;
  display: table;
  margin: 0 auto;
  width: 80%;
  float: none;
}
/* line 182, ../sass/_cart.scss */
#item-delete p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #002E02;
  font-size: 18px;
  font-weight: bold;
}

/* line 190, ../sass/_cart.scss */
.component {
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border: solid 1px #002E02;
}

/* line 199, ../sass/_cart.scss */
.comp-title {
  position: absolute;
  top: -12px;
  background-color: #FFF;
  padding-right: 2px;
  padding-left: 2px;
}
/* line 205, ../sass/_cart.scss */
.comp-title p {
  color: #002E02;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

/* line 212, ../sass/_cart.scss */
.comp-info {
  font-size: 14px;
  color: #002E02;
  display: inline-block;
  padding-right: 5px;
}

/* line 218, ../sass/_cart.scss */
.item-info-footer {
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: table;
}
/* line 224, ../sass/_cart.scss */
.item-info-footer p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #002E02;
  font-weight: bold;
  text-shadow: -2px 1px #97A778;
}
