<section class="library-wrapper">
    <section class="folder-header"><p>{{ name }}</p></section>
    <section class="folder-wrapper">
        <section class="details-cont">
            <section class="description-cont">{{ description }}</section>
            <section class="date-cont">
                <section class="creation-date"><p>{{ date }}</p></section>
                <section class="creation-time"><p>{{ time }}</p></section>
            </section>
        </section>
    </section>
</section>

<!--זה האוכל שאני אוכל אחרי המכון כי הוא טוב לשריר-->

<!--  אחרי המכון   -->