<section class="orders-library-wrapper">

    <section id="add_library" class="lightbox">
        <section class="container" id="add_library_cont">
            <section class="close" ng-click="close_add_library()"><p class="flaticon-close32"></p></section>
            <section class="title"><p>יצירת ספריה חדשה</p></section>
            <section class="content">
                <form class="form" id="new_library_form">
                    <section class="form-item" id="library_name">
                        <section class="required"><p>*</p></section>
                        <section class="detail-label"><p>שם הספריה:</p></section>
                        <section class="detail-input"><input type="text" maxlength="18"></section>
                        <section class="validation"><p></p></section>
                    </section>
                    <section class="form-item" id="library_description">
                        <section class="required"><p></p></section>
                        <section class="detail-label"><p>תיאור:</p></section>
                        <section class="detail-input"><textarea maxlength="50"></textarea></section>
                        <section class="validation"><p></p></section>
                    </section>
                </form>
                <section class="approve" id="library_approval" ng-click="approve_library()"><p>אישור</p></section>
            </section>
        </section>
    </section>


    <section class="library-cont flaticon-file7" ng-click="enter_library()">
        <section class="creation-date"><p>06.05.15</p></section>
        <section class="options-cont">
            <section class="option" ng-click="add_to_cart(); $event.stopPropagation();"><p class="flaticon-shopping100"></p></section>
            <section class="option" ng-click="edit_library_details(); $event.stopPropagation();"><p class="flaticon-edit45"></p></section>
            <section class="option" ng-click="delete_library(); $event.stopPropagation();"><p class="flaticon-delete96"></p></section>
        </section>
        <section class="name-cont"><p>אחרי אימון</p></section>
    </section>

    <section class="library-cont flaticon-folder15 adjust" ng-click="add_library()"></section>
</section>